/*tipos de seletores
1. seletor por elemento/tag  {}
2. seletor por classe        .
3. seletor por Id            #
*/

body{
    background-color: #4a8864;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%; /*definindo imagem como 100%*/
    max-width: 800px; /*definindo uma largura*/
    margin: 0 150px;
}

/*seçao sobre o cabeçalho onde tem as logos*/
.cabecalho{
    padding: 20px 0; /*aplica para cima-baixo | aplica para os lados*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); /*tamanho | tipo | cor*/
}

.cabecalho .container{
    display: flex; /**/
    align-items: center; /*centralização dos itens*/
}
.cabecalho figure img{
    width: 100%; /*definindo imagem como 100%*/
    max-width: 140px; /*definindo uma largura*/
}

.cabecalho .cabecalho__logoPicpro{
    border-right: 1px solid #fff;
    margin-right: 15px; /*margem para a borda lado direito*/
}

/*seçao sobre a conta do usuário*/
.secaoDetalhesConta{
    color: #fff;
    padding: 60px 0 30px;
}

.secaoDetalhesConta__sobreUsuario {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.secaoDetalhesConta__sobreUsuario p{
    font-size: 18px;
    margin-left: 10px;
}

.secaoDetalhesConta__sobreUsuario p strong{
    display: block;
    font-weight: bold; /*da um peso maior, tipo um bold a mais sobre o strong do txt*/
}
.secaoDetalhesConta__sobreUsuario img{
    width: 100%;
    max-width: 50px;
}

/*seçao sobre o saldo da conta*/
.secaoDetalhesConta__sobreSaldo{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between; /*define um espaço entre eles (texto e borão)*/
    padding: 30px;
    align-items: center;
}

.secaoDetalhesConta__sobreSaldo p{
    font-size: 18px;
    line-height: 22px; /*define o tamanho da linha*/
}

.secaoDetalhesConta__sobreSaldo p strong{
    display: block;
    font-weight: bold;
}

.secaoDetalhesConta__sobreSaldo button{
    background-color: #fff;
    border: none; /*retirei as bordas*/
    font-weight: bold;
    font-size: 18px;
    padding: 10px 60px;
    border-radius: 10px; /*adiciona bordas no button*/
    cursor: pointer; /*mostrar que é uma área clicável*/
}

/*seçao sobre os itens de serviços do app/tela*/
.secaoDetalhesConta__opcoesTransacoes{
    display: flex;
    justify-content: space-between;
}

.secaoDetalhesConta__opcoesTransacoes li{
    background-color: #1F6F54;
    width: 170px;
    height: 177;
    border-radius: 20px;
    padding: 40px 20px;
}

.secaoDetalhesConta__opcoesTransacoes li img{
    width: 100%;
    max-width: 40px;
}

.secaoDetalhesConta__opcoesTransacoes li p{
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    line-height: 25px;
    max-width: 80px;
}

.secaoTransacao{
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    border-bottom: 15px solid #F4F4F4;
    padding: 30px 0;
}

.secaoTransacao__avisoSelecao p{
    font-size: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15); /*faz o efeito de sombra*/
    padding: 30px 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.secaoTransacao__avisoSelecao img{
    margin: 30px 0 90px;
    width: 100%;
}

.secaoTransacao__qrCode{
    text-align: center;
}

.secaoTransacao__qrCode img{
    width: 100%;
    max-width: 180px;
}

.secaoTransacao__qrCode p{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
}

.secaoTransacao__qrCode button{
    background-color: #4a8864;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin: 50px 0 20px;
    padding: 15px 150px;
}

.secaoTransacao__qrCode a{
    display: block;
    color: black;
    font-weight: bold;
}

.secaoTransacao__pix img{
    width: 100%;
    max-width: 150px;
}

.secaoTransacao__boxOpcao{
    display: flex;
    align-items: center;
    border: 1px solid #d2d2d2;
    max-width: 500px;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
}

.secaoTransacao__boxOpcao img{
    width: 100%;
    max-width: 80px;
    margin-right: 10px;
}

.secaoTransacao__boxOpcao p{
    font-size: 16px;
    line-height: 20px;
}

.secaoTransacao__boleto{

}

.secaoTransacao__boleto img{
    width: 100%;
    max-width: 80px;
}

.secaoTransacao__boleto h2{
    font-size: 20px;
    font-weight: bold;
}

.secaoTransacao__boleto p{
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
}

.secaoTransacao__boleto input{
    width: 100%;
    background-color: #F4F4F4;
    font-size: 16px;
    height: 50px;
    padding: 0 80px;
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    color: black;
    box-sizing: border-box; /*força o elemento a respeitar a largura independente do padding*/
}

.secaoTransacao__cobrar{

}

.secaoTransacao__cobrar img{
    width: 100%;
    max-width: 80px;
}

.secaoTransacao__cobrar h2{
    font-size: 20px;
    font-weight: bold;
}

.secaoTransacao__cobrar p{
    font-size: 18px;
    max-width: 500px;
    margin: 20px 0;
}

.secaoTransacao__cobrar .secaoTransacao__boxOpcao p{
    margin-left: 10px;
}

.rodape{
    background-color: #fff;
}

.rodape__menuPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape__menuPrincipal li{
    text-align: center;
}

.rodape__menuPrincipal li a{
    color: black;
    text-decoration: none; /*remove o sublinhado do link*/
}

.rodape__menuPrincipal li a img{
    width: 100%;
    max-width: 40px;
}

.rodape__menuPrincipal li a p{
    margin-top: 20px;
}

.rodape__menuItem--pagar{
    transform: translateY(-35px); /*muda o eixo do icone*/
}

.rodape__menuPrincipal .rodape__menuItem--pagar a img{
    max-width: 80px;
}